body {
    font-family: 'Lucida Sans', serif;
}

nav {
    background-color: red;
    text-align: center;
    padding: 30px;
}

nav a {
    font-size: 20px; 
    margin: 0 40px; 
    font-weight: bold;
    color: black;
}

img {
    margin: 30px 10vw;
    height: 40%;
    width: 40%;
}

body {
    font-family: 'Lucida Sans', serif;
}

.footer {
    background-color: lightgray;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
